{% extends "farmer_base.html" %}
{% block farmer_base %}
    <div class="container">
        <div class="profile-dashboard">
            <div class="profile-details">
                <h2>Your Profile</h2>
                <form id="buyer_update">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="{{ user.name }}" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" required>
                    <label for="address">Address:</label>
                    <textarea id="address" name="address" value="{{ user.location }}">{{ user.location }}</textarea>
                    <label for="phone_number">Phone Number:</label>
                    <input type="text" id="phone_number" name="phone_number" value="{{ user.phone }}" required>
                    <button id="submit">Update Profile</button>
                </form>
            </div>
        </div>        
    </div>
{% endblock %}