{% extends "farmer_base.html" %}
{% block farmer_base %}
    <div class="container">
        <h2>Update Product</h2>
        <div class="product-row">
            <div class="column">
                <form class="product-form">
                    <div class="form-group">
                        <label for="product-name">Product Name</label>
                        <input type="text" id="product-name" name="product-name" placeholder="Enter product name" required value="{{ products.name }}">
                    </div>
                    <div class="form-group">
                        <label for="product-price">Price</label>
                        <input type="number" id="product-price" name="product-price" placeholder="Enter price" required value="{{ products.price }}">
                    </div>
                    <div class="form-group">
                        <label for="product-description">Description</label>
                        <textarea id="product-description" name="product-description" placeholder="Enter description" required value="{{ products.description }}">{{ products.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="product-image">Image</label>
                        <input type="file" id="product-image" name="product-image" value="{{ products.image }}">
                    </div>
                    <button type="submit">Update Product</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}