@media (max-width: 767px) {
    .logo {
        position: relative; 
        margin: 0 auto; 
        text-align: center; 
    }

    .logo img {
        width: 100px;
    }

    .navbar .list {
        display: none; 
        text-align: center; 
        margin: 10px 0; 
    }

    .navbar .list a {
        display: block;
        padding: 10px 0; 
        margin: 10px 0; 
    }

    .navbar .list.active {
        display: block;
    }

    .profile-icons {
        text-align: center; 
        margin: 10px 0;
        float: none;
    }

    .profile-item {
        display: block;
        margin: 10px 0; 
    }

    .search-container {
        text-align: center; 
        margin: 10px 0; 
        float: none;
    }

    .search-bar {
        width: 100%;
    }
    .values-section{
        display: block;
    }
    .value-box{
        width: 90%;
    }
}
