@media (max-width: 767px) {
    .about-section{
        padding: 0;
    }
    .search-bar {
        width: 100%;
    }
    .values-section{
        display: block;
    }
    .value-box{
        width: 90%;
    }
    .services{
        display: block;
        padding: 0;
    }
    .service{
        width: auto;
    }
    .categories{
        display: block;
        padding: 0;
    }
    .login-container{
        display: block;
    }
    .product-card{
        width: auto;
    }
}
