body, h1, p {
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    font-size: 40px;
    color: #333;
}
p{
    font-size: 18px;
}
body {
    font-family: Poppins;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.logo {
    position: absolute;
    margin-left: 10px;
}
.logo img{
    width: 120px;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.navbar {
    background-color: #1A5D1A;
    overflow: hidden;
}
.navbar .list{
    margin-left: 134px;
}
.navbar .list a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 5px;
    text-decoration: none;
    margin-left: 30px;
}
.navbar .list a:hover {
    background-color: #ddd;
    color: #1A5D1A;
}
.profile-icons {
    float: right;
    margin-top: 10px;
    margin-right:25px;
}
.profile-item {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
}
.profile-item a{
    color: #fff;
    text-decoration: none;
}
.profile-item i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px; 
}
.profile-item:hover i,.profile-item:hover span {
    color: #ddd;
}.search-container {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.search-bar {
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.banner {
    background-image: url('./images/banner 1.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section {
    background-image: url('./images/about.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.about-content h2 {
    color: #fff;
    font-size: 32px;
}

.about-content {
    background-color: rgb(0, 0,0,0.3);
    padding: 20px;
    border-radius: 10px;
}

.about-content p {
    margin: 20px 0;
    font-size: 18px;
}

.values-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.value-box {
    background-color: rgb(0,0,0,0.3);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: calc(30.73% - 20px);
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.value-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.value-box p {
    font-size: 16px;
    line-height: 1.5;
}

.about-content .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1A5D1A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.about-content .button:hover {
    background-color: #0c2e0c;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.category {
    text-align: center;
}

.category a {
    text-decoration: none;
    color: #333; 
}

.category img {
    max-width: 350px;
    height: 235px;
    border-radius: 20px;
}

.category h3 {
    font-size: 18px;
    margin-top: 10px;
}
.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.service {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45%; 
}
.services h2{
    text-align: left;
}
.service h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.service p {
    font-size: 16px;
    margin-bottom: 20px;
}

.service button {
    background-color: #1A5D1A; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.service button:hover {
    background-color: #0c2e0c; 
}
.service li{
    text-align: left;
    padding: 0.5em 0;
}
.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    text-align: left;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="email"],
.contact-form .form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
    transition: border-color 0.3s, background-color 0.3s;
}

.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form.form-group textarea:focus {
    border-color: #1A5D1A;
    background-color: #fff;
}

.contact-form .form-group textarea {
    resize: vertical;
}

.contact-form .submit-button {
    background-color: #1A5D1A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .submit-button:hover {
    background-color: #0c2e0c;
}
.copyright{
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
.footer {
    background-image: url('./images/footer.png');
    background-size: cover;
    background-position: center;
    height: 332px;
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -323px;
    z-index: 0;
    position: relative;
}
.productbanner {
    background-image: url('./images/product.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    float: left;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.product-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.product-title {
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 10px;
}
#no-padding{
    padding: 0;
    max-width: initial;
}
.login-container {
    display: flex;
    height: 100vh;
}
.login-form {
    background-image: url('./images/login new.png');
    background-size: cover;
    background-position: center bottom; 
    padding: 20px;
    flex:8;
}

.login-form h2 {
    font-size: 55px;
    margin-bottom: -41px;
    color: #07420D;
    font-weight: bolder;
}
.login-form h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 300;
    text-align: center;
}
.login-form .form-group {
    margin: 0 auto;
    width: 80%;
}
.login-form .form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.login-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    background: #EDF5F3;
    height: 37px;
}
.login-form .center-btn{
    text-align: center;
}
.login-form button {
    background-color: #1A5D1A;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 85px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #145314;
}

.info {
    flex: 4;
    padding: 20px;
    background-image: url('./images/productbg.png'); 
    background-size: cover;
    background-position: center;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h2 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bolder;
}

.info p {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

.info .signup-button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 25px;
    padding: 12px 85px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}